.title-text{
    margin-top: 2rem;
    color: #0092f3
}

.sub-title{
    color: #0071f3
}

.country-position{
    margin-top: 2rem;
}

.button-position{
    margin-bottom: 1rem;
}


ion-modal {
    --width: 350px !important;
    --height: 382px !important;
    --border-radius: 8px;
}

ion-modal ion-datetime {
    height: 382px;
    width: 400px !important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-gap: 0 10px;
}

.form-text{
    font-size: 1.5rem;
}

.card-container{
    margin: 7rem;

}

.title-center{
    text-align: center;
}





@media only screen and (max-width : 900px) {
    .form-text{
        font-size: 75%;
    }

    .card-container{
        margin: 1rem;
        min-height: 100vh;
    }


}
