.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* .container strong {

  line-height: 26px;
} */

/* .container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
} */

.title_size{
  font-size: 10rem;
  color: 	#944dd3;
}

.sub_title_size{
  font-size: 2rem;
  color: #008cff;
}


.custom-btn{
  border-radius: 75px !important;
  font-size: 1.5rem !important;
}

.main-title{
  font-size: 3rem;
  color: #302384;
}
/* 
Button{
  border-radius: 75px !important;
} */

@media only screen and (max-width : 900px) {
  .title_size{
    font-size: 5rem;
    color: #944dd3;
  }

  .sub_title_size{
    font-size: 2rem;
    color: #008cff;
  }

  .main-title{
    font-size: 2rem;
    color: #302384;
  }

  .custom-btn{
    font-size: 1rem;
  }
  
  }