.profile_title{
    font-size: 4rem;
    color: 	#302384;
    /* color: #944dd3; */
}

.porfile-container{
    width: 10rem;
    height: 10rem;
    background-color: aqua;
    float: left;
}

.information-section{
    margin-left: 2rem;
    margin-top: 1rem;
    
}

.Card{
     width: 50%;
     margin-top: 2rem;
     box-shadow: 10px 5px 5px #603085;
    }


.container-profile{
    margin:0.75rem;
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #603085;
    height: 30%;
}

@media only screen and (max-width : 900px) {
    .bubble::after {
        content: '';
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 150%;
        background-color: #603085;
        height: 30%;
    }
    .Card{
        width: 100%;
   }

   .photo-position{
    display: flex; 
    justify-content : center;
   }

   .profile_title{
    font-size: 2rem;
    color: 	#302384;
    /* color: #944dd3; */
}

   .porfile-container{
    width: 5rem;
    height: 5rem;
    background-color: aqua;
    float:none;
    justify-content: center;
    align-self: center;
}

.information-section{

    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
}
   
    
    }