ion-modal {
    --width: 350px !important;
    --height: 382px !important;
    --border-radius: 8px;
  }

  ion-modal ion-datetime {
    height: 382px;
    width: 400px !important;
  }

.custom-card{
    width: 90%;
}


.custom-card:hover{
  width: 93%;
}

.card-list{
    margin-top: 1.5rem;
}

.profile_title{
    font-size: 1rem;
}

@media only screen and (max-width : 900px) {
    .profile_title{
        font-size: 0.2rem;
    }

}



