.text-center{
    text-align: center;
}


ion-modal {
    --width: 350px !important;
    --height: 450px !important;
    --border-radius: 8px;
}


.list-size{
margin-left: 10rem;
margin-right: 10rem;
}

.title-custom{
    margin-top: 2rem;
    color:#302384;
    font-weight: bold;
}

.text-size{
    font-size: 1.3rem;
}

.text-infor{
    margin-left: 1.2rem;
}

.center-text-infor{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}
  ion-modal {
    --width: 400px;
    --height: 500px;
    --border-radius: 8px;
  }

  .title-color{
      color:#302384;
  }

  .btn-position{
      margin-left: 1rem;
  }
  
  ion-item:hover{

}

@media only screen and (max-width : 900px) {
    .list-size{
        margin-left: 0rem;
        margin-right: 0rem;
        }

        ion-modal {
            --width: 300px;
            --height: 500px;
            --border-radius: 8px;
          }
    }