.textNav{
    color: red !important;
}

.linkText{
    color: red !important;
}

.navbar-collapse
{
    background-color:#FA0;
}

.navbar-dark .navbar-nav .nav-link
{
    color:#fff;
}

.offcanvas-body {
    background-color: #302384;
}

.offcanvas-title {
   color:white;
}
.nav-link {
    color: #FFFFFF !important;
}

.offcanvas-header {

    background-color: #733fd7;
}