.form-text{
    font-size: 2rem;
}

.login-container{
    background-color: blue;

}

.login-card{

        width: 100%;
        height: 100%;
        margin-top: 0rem;
        box-shadow: 10px 5px 5px #603085;
       
   
}

.margin-login{
    margin: 2rem;
}

.form-sub-text{
    margin-top: 1rem;
    font-size: 1rem;
}

@media only screen and (max-width : 900px) {
    .form-text{
        font-size: 1rem;
    }
    
    }