.text-center{
    text-align: center;
}

.list-size{
margin-left: 10rem;
margin-right: 10rem;
}

.title-custom{
    margin-top: 2rem;
}

.text-size{
    font-size: 1.3rem;
}

.text-infor{
    margin-left: 1.2rem;
}

.center-text-infor{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}

.span-position{
    margin-left: 1rem;
    font-size: 1.2rem;
}

.select-size{
    margin-left: 1rem;

}

.information{
    margin-top: 1rem;
}

@media only screen and (max-width : 900px) {
    .list-size{
        margin-left: 0rem;
        margin-right: 0rem;
        }
    }