.img-size{
    width: 20%;
    height: 20%;
}

@media only screen and (max-width : 900px) {
    
    .profile_title{
        font-size: 1rem;
    }

    .img-size{
        width: 50%;
        height: 50%;
    }
}

